{% extends "layout.html" %}
{% block content %}

<div class="container mt-4">
    <h3>Tambah Kategori</h3>

    <form method="post">
        <div class="mb-3">
            <label>Nama Kategori</label>
            <input type="text" name="nama_kategori" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Deskripsi</label>
            <textarea name="deskripsi" class="form-control" required></textarea>
        </div>

        <button class="btn btn-success">Simpan</button>
        <a href="{{ url_for('kategori') }}" class="btn btn-secondary">Kembali</a>
    </form>
</div>

{% endblock %}
